.project-card {
  width: 16rem;
  margin: 10px;
  cursor: pointer;
}

.project-card:hover {
  border-color: #007bff;
}

.project-card .card-header small {
  margin-left: 0.5em;
  font-size: 13px;
  text-transform: uppercase;
}

.project-card .badge {
  font-size: 13px;
  margin-left: 2px;
  margin-right: 2px;
}